[Unit]
Description=Ministranten-Planer Web App
After=network.target

[Service]
Type=simple
User=pi
EnvironmentFile=/home/pi/Ministranten-Planer/.env
WorkingDirectory=/home/pi/Ministranten-Planer
ExecStart=/home/pi/Ministranten-Planer/start.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
